table thead tr {
    height: 60px;
    background: #36304a;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column1 {
    width: 260px;
    padding-left: 40px;
    text-align: center;
  }
  
  .column2 {
    width: 160px;
    text-align: center;
  }
  
  .column3 {
    width: 245px;
    text-align: center;
  }
  
  .column4 {
    width: 110px;
    text-align: center;
  }
  
  .column5 {
    width: 170px;
    text-align: center;
  }
  
  .column6 {
    width: 222px;
    text-align: center;
    padding-right: 62px;
  }